<table class="table w-100">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bandera</th>
        <th scope="col">Pais</th>
        <th scope="col">Poblacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pais of paises; let i=index">
        <td>{{i + 1}}</td>
        <td><img [src]="pais.flags.svg" 
                 style="width: 50px;" 
                 alt="">
        </td>
        <td>{{pais.name}}</td>
        <td>{{pais.population | number}}</td>
      </tr>
    </tbody>
  </table>
