<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-3 mb-3">
            <ul class="list-group">
                <li class="list-group-item "
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact: true}"
                           routerLink="/pais/pais">Por Pais
                </li>
                <li class="list-group-item"
                           routerLink="/pais/capital"
                           routerLinkActive="active">
                           Por Capital
                </li>
                <li class="list-group-item"
                           routerLink="/pais/region"
                           routerLinkActive="active">
                           Por Region
                </li>
              </ul>
        </div>

        <div class="col-12 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
